body { 
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
.anhbia {
    max-height: calc(100vh - 20px);
}
div.demuc {
    padding: 10px;
}
div.demuc:hover {
    background-color: rgb(210, 255, 240);
}
a {
    text-decoration: none;
    color: #1f497d;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1 {
    text-align: center;
    color: #1f497d;
    font-weight: bold;
    font-style: italic;
}
p {
    text-align: justify;
    justify-self: auto;
    font-size: larger;
    text-indent: 50px;
}
div.tho {
    text-align: center;
    font-size: larger;
}
div.ke {
    text-align: left;
    font-size: larger;
    margin-left: 100px;
}
h3 {
    text-align: right;
    font-weight: normal;
    font-style: italic;
}